/* src/pages/Home.css */
.home-container {
    padding: 0;
  }
  
  .home-jumbotron {
    background-color: #9ccffc; /* Light Alice Blue background color */
    padding: 4rem 2rem; /* Adjust padding as needed */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .home-jumbotron h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; /* Dark text color */
  }
  
  .home-jumbotron p {
    font-size: 1.25rem;
    color: #666; /* Medium dark text color */
  }
  