/* src/pages/UserPortal.css */

/* .home-header {
    background-color: #333;
    color: #fff;
  }
  
  .home-logo {
    height: 40px;
  }
  
  .home-nav-link {
    color: #fff;
  }
  
  .home-nav-link.active {
    font-weight: bold;
  } */
  
  .user-profile {
    padding: 20px;
  }
  
  .user-find-a-job {
    padding: 20px;
  }
  
  .user-find-a-job input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
   .home-nav-btn {
    color: #ffffff !important; /* Force text color */
    background-color: #cdc8dc !important; /* Custom background color */
    border: 1px solid #f4f6f4 !important; /* Border color */
    margin: 5px; /* Spacing between buttons */
    padding: 10px 20px; /* Consistent padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem; /* Consistent font size */
    width: 120px; /* Adjust width as needed */
    text-align: center; /* Center text */
    display: inline-block; /* Ensure buttons are displayed correctly */
    box-shadow: none; /* Remove default button shadow if any */
    font-weight: bold;
  }


  .job-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .job-details-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    position: relative;
  }
  
  .job-details-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  