/* src/App.css */
body {
  padding-top: 56px; /* To account for the fixed navbar */
}

.jumbotron {
  background-color: #f8f9fa;
}

.text-danger {
  color: #dc3545;
}

/* Responsive design for different screen sizes */
@media (max-width: 767px) {
  .text-md-left, .text-md-right {
    text-align: center;
  }
}
